.search-bar-style{
    background-color: #f5f5f5;
    color: var(--neutral-color);
    border-radius: 30px;
    height: 45px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.icon-search-bar{
    height: 25px;
    width: 25px;
}

.search-bar-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}