.filter-tab-button {
  background-color: #dae2f2;
  padding: 15px 30px;
  color: var(--neutral-color);
  border: none;
  border-radius: 30px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  transition: all 0.2s ease;
  cursor: pointer;
}

.filter-tab-button .button-img-hover {
  display: none;
}

.filter-tab-button:hover .button-img {
  display: none;
}

.filter-tab-button:hover .button-img-hover {
  display: inline-block;
}

.filter-tab-button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.filter-tab-active {
  background-color: var(--primary-color, #2563eb);
  color: white;
}
