.button-create-poll {
  appearance: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 16px;
}