.description-title{
    font-size: 34px;
    margin: 0;
}

.description-text{
    font-size: 18px;
    color: var(--neutral-color);
}

.content-title{
    margin: 32px 0 0 48px;
}

.button-img {
  height: 20px;
  width: 20px;
}

.button-img-hover {
  height: 20px;
  width: 20px;
}