.sidebar{
    height: 90vh;
    width: 300px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.SideBarList{
    height: auto;
    padding: 0;
    width: 100%;
    margin: 0;
}

.SideBarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: var(--neutral-color);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}


.row #sidebar-img{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}

.SideBarList .row:hover{
    cursor: pointer;
    background-color: #6df7bb;
    border-radius: 10px;
}

.sidebar-title{
    margin: 20px;
}

.sidebar-footer{
    margin-top: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}



