:root{
  --primary-color: #2563EB;
  --secondary-color: #10B981;
  --teriary-color: #6366F1;
  --neutral-color: #64748B;
}

body{
  font-family: Inter;
}

header{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 90px;
}

.logo{
  width: 45px;
  height: 45px;
}