:root{
  --primary-color: #2563EB;
  --secondary-color: #10B981;
  --teriary-color: #6366F1;
  --neutral-color: #64748B;
}

body{
  font-family: Inter;
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  flex-direction: column;
}

.container-content{
  display: flex;
  flex-direction: row;
}

.container-cards{
  display: flex;
  gap: 10px;
  margin: 32px 0 0 48px;
}